.App {
  margin-top: 30px;
  text-align: center;
}

.App-logo {
  animation: bounce 0.7s;
  animation-direction: alternate;
  animation-timing-function: cubic-bezier(.5,0.05,1,.5);
  animation-iteration-count: infinite;
  height: 20vmin;
  margin-bottom: 10rem;
  pointer-events: none;
}

.App-header {
  background-color: rgb(30,30,30);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.privacy-policy{
  background-color: rgb(30,30,30);
  min-height: 95vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.features{
  background-color: rgb(255,255,255);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: black;
}

.games{
  background-color: rgb(255,255,255);
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  color: black;
  border-bottom: 1px solid black;
  justify-content: center;
  align-items: center;
}

.games_game{
  min-height: 100vh;
  min-width: 70vw;
  border-bottom: 1px solid black;
  flex:1;
}

.privacy-policy{
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  font-size: 1rem;
}

.links{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

}
.storeimg{
  flex: 1;
  height: 3.5rem;
  width: auto;
  cursor: pointer;
}

.googlestoreimg{
  flex: 1;
  height: 5rem;
  cursor: pointer;
}

/* .vid-container {
  display: flex;
  position: relative;
  overflow: hidden;
  padding-top: 56.25%;
  justify-content: center;
  align-items: center;
}

.iframe {
  flex: 1;
  position: absolute;
  top: 0;
  left: 25%;
  width: 50%;
  height: 50%;
  border: 0;
} */

.videoWrapper {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
	height: 0;
}
.videoWrapper iframe {
	position: absolute;
	top: 0;
	left: 12.5%;
	width: 75%;
	height: 75%;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes bounce {
  from { -webkit-transform: translate3d(0, 0, 0); transform: translate3d(0, 0, 0); }
  to   { -webkit-transform: translate3d(0, 12.2rem, 0); transform: translate3d(0, 12.2rem, 0); }
}
