.App {
  text-align: center;
}

.App-logo {
  animation: bounce 0.7s;
  animation-direction: alternate;
  animation-timing-function: cubic-bezier(.5,0.05,1,.5);
  animation-iteration-count: infinite;
  height: 20vmin;
  margin-bottom: 10rem;
  pointer-events: none;
}

.App-header {
  background-color: rgb(30,30,30);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.privacy-policy{
  background-color: rgb(30,30,30);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.games{
  background-color: rgb(255,255,255);
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  font-size: calc(10px + 2vmin);
  color: black;
  border-bottom: 1px solid black;
}

.hockey{
  border-left: 0.5px solid black;
  flex:1;
}

.basketball {
  border-right: 0.5px solid black;
  flex:1;
}

.links{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

}
.storeimg{
  flex: 1;
  height: 3.5rem;
  width: auto;
  cursor: pointer;
}

.googlestoreimg{
  flex: 1;
  height: 5rem;
  cursor: pointer;
}

.vid-container {
  position: relative;
  overflow: hidden;
  padding-top: 56.25%;
}

.iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes bounce {
  from { -webkit-transform: translate3d(0, 0, 0); transform: translate3d(0, 0, 0); }
  to   { -webkit-transform: translate3d(0, 12.2rem, 0); transform: translate3d(0, 12.2rem, 0); }
}
